@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,800;0,900;1,300&display=swap');
/* -------css variables ----------*/

:root{
  --header-height:3rem;
  --nav-width:324px;

  /* =====font-weight=== */
  --font-medium:500;
  --font-semi-bold:600;
  --font-bold:700;


  /* colors===== */
  --first-color:#5680E9;
  --second-color:#84CEEB;
  --third-color:#5AB9EA;
  --fourth-color:#8860D0;
  --fifth-color:#E98074;



  /* font and typography====### */
  --body-font: 'Poppins', sans-serif;
  --h1-font-size:1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size:.75rem;

  /* -=--=-=- margins */
  --mb-1: .5rem;
   --mb-2: 1rem;
   --mb-3: 1.5rem;
   --mb-4: 2rem;
   --mb-5: 2.5rem;


   /*  z-ndex */
   z-fixed: 100;
  
  


}
/* ====base-==== */
*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {

  scroll-behavior: smooth;
}

body {
  /* margin: var(--header-height) 0 0 0; */
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color);
}

a {
  text-decoration: none;
}

.header,
.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110vh;
  position: relative;
  background: #eee;
  text-align: center;
  padding: 0 2em;
}

.header h1,
.slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}

.header h3,
.slide h3 {
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.header {
  overflow: hidden;
  width: 100%;
 
  background: coral;
  
}


/* for skewed effect */
.skewed-one{
    position: absolute;
    bottom: -90%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: #B3C7D6FF;
    transform: skewY(-15deg);
    transform-origin: top left;
}
.skewed-two{
    position: absolute;
    bottom: -90%;
    right: 50%;
    width: 100%;
    height: 100%;
    background: #B3C7D6FF;
    transform: skewY(15deg);
    transform-origin: top right;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  /* -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
          box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.2);
  background: #B3C7D6FF;
  z-index: 10;
}

.nav-container--top {
  position: fixed;
  top: 0;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: var(--fourth-color);
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}

.nav-item:hover {
  color: white;
  background: rgba(102, 177, 241, 0.8);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-item-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66B1F1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}


img{
  max-width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 768px) {
  :root{
     --h1-font-size:2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  --smaller-font-size:.813rem;


  }
  .header h1,
  .slide h1 {
    font-size: var(--h1-font-size);
  }
  .header h3,
  .slide h3 {
    font-size: var(--h3-font-size);
  }
  .nav-item {
    font-size: var(--normal-font-size);
  }
}
@media (max-width: 768px){
  .nav-toggler{
    display: block;
  }
  /* .nav-container{
    display: block;
    height: 10rem;
    position: absolute;
    top: -50px;
  } */
}
/*# sourceMappingURL=style.css.map */